@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* common style  */

.display-flex{
    display: flex;
}
.btn-primary{
    background-color: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    border-color: transparent;
}
.card-title{
    font-family: Poppins;
    Font-weight: 500;
    Font-size: 22px;
    Letter-spacing: 0%;
}
.card-price{
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0%;
    
}
.card-description{
    color: rgb(120, 120, 133);
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.8%;

}
/* banner section style  */

.fa-magnifying-glass , .fa-cart-shopping{
    font-size: 24px;
}
.fa-bar , .fa-card-shop{
    display: none;
}
.navbar{
    justify-content: space-around;
    /* margin: 0 80px; */
}
.nav-title{
    font-family: Poppins;
    Font-weight: 700;
    Font-size: 24px;

}
.nav-list > li {
    list-style: none;
    margin-inline: 13px;
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    margin-top: 13px;
}
#prebook-btn{
    border-radius: 30px;
    border-color: transparent;
    padding: 5px 20px;
    margin-top: 20px;
}
.banner{
    justify-content: center;
    align-items: center;
}
.banner-title{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px ;
    letter-spacing: 0px;
}

.banner-content{
    /* border: 1px solid red; */
    width: 50%;
    text-align: left;
    margin-left: 40px;
    
}

.banner-cam{
    width: 400px;
    height: 400px;
    /* border: 1px solid black; */
    margin-top: 70px;
    background-image: url(./images/Circle\ design.svg);
    background-position-x: -36px;
    background-position-y: -44px;
   
}
.banner-cam > img{
    width: 100%;
    /* margin-top: 50p; */
}

/* sponser releted style  */

.sponser{
    margin: 0 150px;
    justify-content: space-around;
    align-items: center;

}
.icon{
    margin-top: 100px;
}
.icon > hr {
    margin: 30px 100px;
    color: chocolate;
}

/* card releted css  */

.popular-c > h3{
    text-align: center;
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
}
.card-containers{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin: 10px 50px 0 80px;
    row-gap: 20px;
    /* column-gap: 0px; */
}

.card-container{
    width: 300px;
    height: 430px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background-color: rgb(255, 255, 255);
    line-height: 18px;
}
.star{
    color: rgb(251, 130, 0);
}
.rate{
    color: black;
}
.tripod{
    width: 300px;
    height: 250px;
}
.card-container > img{
    width: 100%;
}
.see-more > p{
    color: rgba(224, 44, 109, 0.87);
    font-family: Poppins;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: right;
    margin-right: 100px;
}
.feature{
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.feature-image{
    width: 50%;
    text-align: center;
}
.feature-content{
    width: 50%;
    margin-right: 100px;
}
.feature-title{
    color: rgb(10, 8, 38);
    font-family: Poppins;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 28px; 
}
.feature-description{
    color: rgb(108, 108, 108);
    font-family: Poppins;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
#feature-btn{
    width: 150px;
    height: 40px;
    margin-top: 20px;
}

/* footer section style  */

.footer{
    border: 1px solid black;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: rgb(10,8,38)
}
.footer-content{
    text-align: center;
}
.footer-title{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
}
.footer-description{
    color: rgb(217, 219, 225);
    font-family: Manrope;
    font-size: 11px;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: 0%;
}
.footer-sub-description{
    color: rgb(217, 219, 225);
    font-family: Manrope;
    font-size: 11px;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: 0%;
}
.footer-icon{
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
.social-icon{
    margin-inline: 8px;
}
